.main-container {
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: 35px;
  margin: 50px;
}

@media screen and (max-width: 800px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}